<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FilesMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ad_file
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		uuid,
		fid,	
		fname,	
		ftype,
		fsize,
		fpath,	
		adddate,	
		uploaderuid	
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{uuid},	
		#{fid},	
		#{fname},
		#{ftype},
		#{fsize},	
		#{fpath},	
		#{adddate},	
		#{uploaderuid}
	</sql>
	
	<!-- 列表 -->
	<select id="findPageCount" parameterType="page" resultType="long">
		select
		count(*)
		from 
			<include refid="tableName"></include>
		where 1 = 1
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			and
				(
					ftype LIKE CONCAT(CONCAT('%', #{pd.keyword}),'%')
				 or 
				 	fname LIKE CONCAT(CONCAT('%', #{pd.keyword}),'%') 
				)
		</if>
		<if test="pd.uploaderuid!=null and pd.uploaderuid!=''"><!-- uploaderuid -->
			and uploaderuid=#{pd.uploaderuid}
		</if>
		order by adddate desc
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 1 = 1
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			and
				(
					ftype LIKE CONCAT(CONCAT('%', #{pd.keyword}),'%')
				 or 
				 	fname LIKE CONCAT(CONCAT('%', #{pd.keyword}),'%') 
				)
		</if>
		<if test="pd.uploaderuid!=null and pd.uploaderuid!=''"><!-- uploaderuid -->
			and uploaderuid=#{pd.uploaderuid}
		</if>
		order by adddate desc
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into <include refid="tableName"></include>(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			fname = #{fname}
		where
		fid = #{fid} and uuid = #{uuid}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			fid = #{fid} and uuid = #{uuid}
	</select>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from <include refid="tableName"></include>
		where 
			fid = #{fid} and uuid = #{uuid}
		<if test="uploaderuid!=null and uploaderuid!=''"><!-- uploaderuid -->
			and uploaderuid=#{uploaderuid}
		</if>
	</delete>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where uuid=#{uuid}
	</select>
	
	
</mapper>